<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	    <section class="layout-content" layout:fragment="corpo">
	            <nav class="navbar navbar-expand-md navbar-top bg-light">
	                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	                    <ul class="navbar-nav">
	                        <li class="nav-item active">
	                            <i class="oi oi-caret-right"></i>
	                            <span>Cadastrar Empresas</span>
	                        </li>
	                    </ul>
	                </div>
	                <a class="btn btn-primary btn-md" th:href="@{/empresas/listar}" role="button">
	                    <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
	                    <span>Listar Empresas</span>
	                </a>
	            </nav>

	        <div class="container" id="cadastro">
	        
	        	<div th:replace="fragments/alert">
	        	</div>
	        
	            <form th:action="${empresa.id == null} ? @{/empresas/salvar} : @{/empresas/editar}" 
	                  th:object="${empresa}" method="POST">
	                <div class="form-row">
	                    <div class="form-group col-md-2">
	                        <label for="cpfCnpj">CNPJ</label>
	                        <input 	type="text" 
	                        		class="form-control  form-control-sm" 
	                        		id="cnpj" 
	                        		data-mask="00.000.000/0000-00" 
									placeholder="Cnpj da Empresa"
	                               	autofocus="autofocus" 
	                               	th:field="*{cnpj}"
	                               	th:classappend="${#fields.hasErrors('cnpj')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{cnpj}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-5">
	                        <label for="nome">Razão Social</label>
	                        <input 	type="text" 
	                        		class="form-control form-control-sm" 
	                        		id="nome" 
	                        		placeholder="Razão Social"
	                               	th:field="*{razaoSocial}"
	                               	th:classappend="${#fields.hasErrors('razaoSocial')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{razaoSocial}"></span>
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-2">
	                        <label for="dataEntrada">Data de Abertura</label>
	                        <input 	type="date" 
	                        		class="form-control  form-control-sm" 
	                        		id="dataAbertura" 
	                        		th:field="*{dataAbertura}"
	                               	th:classappend="${#fields.hasErrors('dataAbertura')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{dataAbertura}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-3">
	                        <label for="areaAtividade">Área de Atividade</label>
	                        <select id="areaAtividade" 
	                        		class="form-control  form-control-sm" 
	                        		th:field="*{areaAtividade}"
	                        		th:classappend="${#fields.hasErrors('areaAtividade')} ? 'is-invalid'">
	                            <option value="">Selecione...</option>
	                            <option th:each="a : ${areas}" th:value="${a.id}" th:text="${a.descricao}"></option>
	                        </select>
	                        <div class="invalid-feedback">
								<span th:errors="*{areaAtividade}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-2">
	                        <label for="uf">Situação</label>
	                        <select id="situacao" 
	                        		class="form-control  form-control-sm" 
	                        		th:field="*{situacao}"
	                        		th:classappend="${#fields.hasErrors('situacao')} ? 'is-invalid'">
	                            <option value="A">Ativo</option>
	                            <option value="I">Inativo</option>
	                        </select>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.uf}"></span>
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-6">
	                        <label for="logradouro">Logradouro</label>
	                        <input 	type="text" 
	                        		class="form-control  form-control-sm" 
	                        		id="logradouro" 
	                               	placeholder="logradouro sem número" 
	                               	th:field="*{endereco.logradouro}"
	                               	th:classappend="${#fields.hasErrors('endereco.logradouro')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.logradouro}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-1">
	                        <label for="numero">Número</label>
	                        <input 	type="text" 
	                        		class="form-control  form-control-sm" 
	                        		id="numero" 
	                        		th:field="*{endereco.numero}"
	                               	th:classappend="${#fields.hasErrors('endereco.numero')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.numero}"></span>
	                        </div>
	                    </div>
	                </div>
	                <div class="form-row">
	                    <div class="form-group col-md-3">
	                        <label for="complemento">Complemento</label>
	                        <input 	type="text" class="form-control  form-control-sm" 
	                        		id="complemento" 
	                               	placeholder="fundos, casa, AP. 102, .." 
	                               	th:field="*{endereco.complemento}"
	                               	th:classappend="${#fields.hasErrors('endereco.complemento')}"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.complemento}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-4">
	                        <label for="bairro">Bairro</label>
	                        <input 	type="text" 
	                        		class="form-control  form-control-sm" 
	                        		id="bairro" 
	                        		th:field="*{endereco.bairro}"
	                               	th:classappend="${#fields.hasErrors('endereco.bairro')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.bairro}"></span>
	                        </div>
	                    </div>
	            	</div>
	            	
	            	<div class="form-row">
	                    <div class="form-group col-md-2">
	                        <label for="cidade">Cidade</label>
	                        <input 	type="text" 
	                        		class="form-control  form-control-sm" 
	                        		id="cidade" 
	                        		th:field="*{endereco.cidade}"
	                               	th:classappend="${#fields.hasErrors('endereco.cidade')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.cidade}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-1">
	                        <label for="uf">UF</label>
	                        <select id="uf" 
	                        		class="form-control  form-control-sm" 
	                        		th:field="*{endereco.uf}"
	                        		th:classappend="${#fields.hasErrors('endereco.uf')} ? 'is-invalid'">
	                            <option value="">Selecione...</option>
	                            <option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf.sigla}"></option>
	                        </select>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.uf}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-2">
	                        <label for="cep">CEP</label>
	                        <input 	type="text" 
	                        		class="form-control  form-control-sm" 
	                        		id="cep" 
	                        		data-mask="00000-000" 
	                               	th:field="*{endereco.cep}"
	                               	th:classappend="${#fields.hasErrors('endereco.cep')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.cep}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-2">
	                        <label for="salario">Faturamento Mensal</label>
	                        <input type="text" class="form-control  form-control-sm" id="faturamentoMensal" data-mask="####.###.##0,00"
	                               data-mask-reverse="true" 
	                               th:field="*{faturamentoMensal}"
	                               	th:classappend="${#fields.hasErrors('faturamentoMensal')} ? 'is-invalid'" />
	                        <div class="invalid-feedback">
								<span th:errors="*{faturamentoMensal}"></span>
	                        </div>
	                    </div>
	                </div>
	                <input type="hidden" id="id" th:field="*{id}"/>
					<input type="hidden" id="endereco.id" th:field="*{endereco.id}"/>
	                <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
	            </form>
	        </div>
	    </section>
</body>
</html>		